@import '../../styles/variables';

.list {
  padding-top: 40px;
  padding-bottom: 40px;

  &__item {
    padding: 40px 40px;
    margin-left: -40px;
    margin-right: -40px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: box-shadow $duration;
    font-family: Helvetica;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      box-shadow: 0 5px 18px -3px rgba(0, 0, 0, 0.5);
      transition-duration: $duration / 2;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: $light;
    font-size: 24px;
    margin-bottom: 0.5em;
    color: #aaa;
  }

  &__text {
    line-height: 1.5;
    font-size: 18px;
  }
}